    GEMINI_API_KEY=your_api_key_here
    
# copy this file and rename it to .env
 # replace the value of GEMINI_API_KEY with your actual API key from Google Gemini AP
# make sure to keep this file(.env) secure and do not share it publicly, as it contains sensitive information
